.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 450px;
  height: 80px;
  margin-bottom: 10px;
  padding: 20px;
  border: solid 2px #000000;
  border-radius: 75px;
  color: #ffffff;
  background-color: #282c34;
}

.list-item button {
  border: none;
  background-color: #ffffff;
  border-radius: 15px;
  padding: 0.3rem 1rem;
}

.list-user {
  display: flex;
  align-items: center;
}

.list-user img {
  width: 80px;
  height: 80px;
  border: solid 2px black;
  border-radius: 50px;
  margin-right: 20px;
}

.list-user p {
  margin: 0;
}

.list-pagination {
  text-align: center;
}

.list-pagination button {
  margin: 10px;
}

@media (max-width: 425px) {
  .list-item {
    width: auto;
    height: auto;
    flex-direction: column;
  }
}
